
.note-delete-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.del-btn {
    border: 2px solid red;
    margin-right: 11px;
}

.del-btn:focus {
    background: red;
    color: white;
}