body {
  font-family: 'Bitter', serif;
}

input, textarea, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: 0;
}

input:focus, textarea:focus {
  border: 2px solid #42d0f3
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.page {
  max-width: 1250px;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-item {
  margin: 0 5px;
}