.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.login-modal {
    position: fixed;
    top: 20%;
    bottom: 40%;
    left: 25%;
    right: 25%;
    background-color: white;
    border-radius: 25px;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-elements {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-input {
    margin: 12px auto;
    width: 100%;
    border-radius: 100px;
    height: 33px;
    border: 2px solid darkgray;
    padding: 0 15px;
}

.modal-btn {
    background: white;
    border: 2px solid darkslategray;
    border-radius: 20px;
    height: 35px;
    width: 48%;
    margin-top: 30px;
}

.modal-btn:hover {
    cursor: pointer;
}

.modal-btn:focus {
    background:slategray;
    color: white;
}
                
.login-btn {
    border: 2px solid green;
}

.login-btn:focus {
    background: green;
    color: white;
}

.cancel-btn {
    border: 2px solid red;
}

.cancel-btn:focus {
    background: red;
    color: white;
}