.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.loginModal {
    position: fixed;
    top: 20%;
    bottom: 40%;
    left: 25%;
    right: 25%;
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    display: flex;
}

.loginInput {
    margin: 5px auto;
    width: 100%;
}
